<!DOCTYPE HTML>
<html>
	<head>
		{% stylesheets '@LoEpiBundle/Resources/public/css/bootstrap.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		{% javascripts 
		'@LoEpiBundle/Resources/public/js/jquery-1.9.1.min.js'
		'@LoEpiBundle/Resources/public/js/*'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}EPI{% endblock %}</title>

	</head>
	<body>
		<div class="container">

			<div id="header">
				<div class="row">
					<div class="span1"><img src="./img/logo.jpg" style="width:70px;heigth:70px;margin-top:5px;margin-bottom:5px;"></div>
					<div class="span4"><h1 class="muted" style="font-family:Cookie;">Epicerie Innovante</h1></div>
				</div>
			</div>

			<div class="row">
				<div id="menu" class="span12">
					{% block menu %}{% endblock %}
				</div>

				<div id="content" class="span12">
					{% block body %}{% endblock %}
				</div>
			</div>

			<div id="footer">
			</div>
		</div>
	</body>
</html>
