{% extends "EpiAdminBundle::layout.html.twig" %}

{% block body %}
		<h3>Modifier le produit : {{produit.nom}} </h3>
		<div class="well">
			<form action="#" class="form-horizontal" method="post" {{form_enctype(form_produit)}}>
				{{form_widget(form_produit)}}
				<br>
				<input type="submit" class="btn btn-primary" />
				<a class="btn" href="{{path('admin_boutique', {'onglet_boutique' : 'produits'})}}">Annuler</a>
			</form>
		</div>
{% endblock %}
