{% trans_default_domain 'FOSUserBundle' %}

Pour obtenir un nouveau mot de passe, veuillez envoyer un mail à <a href="mailto:epicerie.innovante@gmail.com">epicerie.innovante@gmail.com</a> ou contactez directement un administrateur.
